{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<main class="container main-content">
		<div class="mt-3">
			<h1 class="display-4">Votre panier</h1>
		</div>
	</main>
{% endblock %}
