{% extends 'base.html.twig' %}

{% block body %}
	<div class="container box-description-bird">
		<div class="d-flex flex-column bird-show-card">
			<div class="flex-row">
				<h1>{{ bird.name }}</h1>
			</div>
			<div class="flex-row">
				<div>
					<img class="bird-card__image" src="{{ asset('/css/images/' ~ bird.image) }}" width="50%">
				</div>
				<div class="d-flex flex-wrap flex-column mx-5">
					<div>
						<p class="lead overflow-content">{{ bird.description }}</p>
					</div>
					<hr class="m-0">
					<div>
						<a class="btn btn-primary btn-md my-3" href="#" role="button">Add to cart</a>
					</div>
				</div>
			</div>

			<hr class="m-0">
			<p class="lead">
				<a class="btn btn-primary btn-lg my-3" href="{{ path('home') }}" role="button">Back to list</a>
			</p>
		</div>

	</div>

{% endblock %}
