{% extends 'base.html.twig' %}

{% block body %}
	<main class="container main-content">

		<div class="jumbotron mt-3 bird-detail">
			<h1 class="display-4">{{ bird.name }}</h1>

			<div class="d-flex flex-row">
				<div>
					<img class="bird-card__image" src="{{ asset('/css/images/' ~ bird.image) }}" width="50%">
				</div>
				<div class="d-flex flex-wrap flex-row mx-5">
					<div>
						<p class="lead overflow-content">{{ bird.description }}</p>
					</div>

					<div>
						<a class="btn btn-primary btn-md" href="#" role="button">Add to cart</a>
					</div>
				</div>
			</div>

			<hr class="my-4">
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{{ path('home') }}" role="button">Back to list</a>
			</p>
		</div>

	</main>
{% endblock %}
