html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.website-body-img {
    background-image: url('./images/maria-mustonen-2movie-2016-theme.jpg');
    background-size: cover;
}

.navbar-brand-logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    display: inline-block;
    height: 50px;
}

.home-header {
    background-color: rgb(250 250 250 / 0.5);
    margin-top: 75px;
    width: 100%;
}

.box-description-bird {
    margin-top: 95px;
}

.bird-show-card {
    background-color: rgba(255, 255, 255, 0.45);
    padding: 30px;
    border-radius: 10px;
}

.bird-card {
    background-color: rgb(255 255 255 / 0.5);
    width: 230px;
    height: 235px;
}

.bird-card__title {
    text-align: center;
}

.bird-card__image {
    min-width: 120px;
    max-width: 130px;
    width: 45%;
}

div.flex-row > div > img.bird-card__image {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

/* long text hidden to be auto scrolled */
.overflow-content {
    max-height: 250px;
    overflow: auto;
}

.odd {
    background-color: aquamarine;
    list-style-type: none;
    text-transform: uppercase;
}

.even {    
    background-color: white;
    list-style-type: none;
    text-transform: uppercase;
}